<!DOCTYPE html>
<html lang="en">
    <head>
      <meta charSet="UTF-8" />
      <link rel="shortcut icon" href= />
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
      <meta name="theme-color" content="#000000" />
      <meta name="title" content="<%= metaData.title %>" />
      <meta name="description" content="<%= metaData.description %>"/>
      <meta name="keywords" content="<%= metaData.keywords %>" />
      <link rel="canonical" href="https://weyyak.com" />
      <meta property="og:title" content=" Weyyak| Watch online movies, series, bollywood movies and shows in Arabic for free!" />
      <meta property="og:description" content="Watch weyyak and enjoy a variety of series, movies, bollywood movies, and shows in Arabic from India, Zee alwan, Egypt, Syria, the gulf, Zee aflam from your mobile, tablet, smart TV, website and more to come." />
      <meta property="og:image" content="https://weyyak.com/favicon_512.png" />
      <meta property="og:type" content="video.movie" />
      <meta property="og:url" content="https://weyyak.com" />
      
      <title><%= metaData.title %></title>
      <%- include('../partials/style'); %>

    </head>

    <body>
        <div class='app-body ltr' dir="ltr">
            <%- include('../partials/header'); %>
                <div class="page-content" >
                    <section class="home-content static-content">
                        <h1 class="static-title"><%= pageTitle %></h1>
                        <p class='static-content'><%- pageContent %></p>
                    </section>
                </div>
            <%- include('../partials/footer'); %>
        </div>
    </body>

  </html>